body {
  font-size: 13px;
}

hr {
  margin-bottom: 15px;
}

.colored.banner {
  background-image: linear-gradient(to right, #D8254C, #496784);
  font-family: Open sans, sans-serif;
  color: white;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.black-background {
  background-color: black;
}

.grey-background {
  background-color: #282828;
  color: white;
}


.ui.inverted.menu.container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white:
}

.ui.inverted.topmidmenu.secondary.menu {
  color: white;
}

.ui.center.aligned.grid.icongap {
  margin-top: 30px;
  margin-bottom: 60px;
}
.ui.center.aligned.grid.footer {
  font-size: 12px;
}

.slideshow.element1 {
  image: https://cdn.shopify.com/s/files/1/0077/5352/t/6/assets/slide1.jpg?7805528210679224734;
}

.slideshow.element2 {
  image: https://cdn.shopify.com/s/files/1/0077/5352/t/6/assets/slide2.jpg?7805528210679224734;
}

.slideshow.element3 {
  image: https://cdn.shopify.com/s/files/1/0077/5352/t/6/assets/slide3.jpg?7805528210679224734;
}
